<div class="container ">
    <div class="row text-center">
      <div class="col-sm-12">
        
        <h1> Searching For All Star War Heros Here</h1>
          <div class="input-group">
             <input [(ngModel)] = "uname" type="text" placeholder="Name"  class="form-control">
             <span class="input-group-btn">
                <button class="btn btn-default" (click)="Search()" type="button">Go!</button>
              </span>
            </div>
           
      </div>
        <h4 class="notFound">{{notFound}}</h4>
  <div *ngFor="let user of username ; let i = index" class="draggable">

      <div class="col-sm-12 out draggable">
          <div class="panel panel-default">
            <div class="panel-heading">
             <h3 class="panel-title"> Hero Card </h3>
            </div>
            <div class="panel-body">
              <div class="avatar"> 
                <img src="../../assets/image/avatar.jpg">
                <h3>{{username[i]}}</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item">{{url[i]}}</li>
                <li class="list-group-item"> {{height[i]}}</li>
                <li class="list-group-item">{{homeworld[i ]}}</li>
              </ul>
            </div>
          </div>
        </div>

  </div>

  </div>
  </div>


  