/* You can add global styles to this file, and also import other style files */
body{
    background: url("assets/image/intro-bg.jpg") fixed no-repeat ;
    background-size: cover ;  
    font-family: 'Ubuntu', sans-serif; 
}